<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.delos.codenamealpha" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile" >

        </activity>
        <activity
            android:name=".ui.provider.KitchenActivity"
            android:label="@string/title_activity_kitchen" >
        </activity>
        <activity
            android:name=".ui.provider.OfferMealActivity"
            android:label="@string/title_activity_offer_meal" >
        </activity>
        <activity
            android:name=".ui.consumer.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ui.consumer.OrderCompleteActivity"
            android:label="@string/title_activity_meal_page" >
        </activity>

        <provider
            android:name=".database.AlphaProvider"
            android:authorities="com.cmu.delos.codenamealpha" />

        <activity
            android:name=".ui.consumer.MealDetails"
            android:label="@string/title_activity_meal_details" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDRXEbFVEoFg9ZtCpaxv1WN-Z-lc5ezV0E" />

        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider991027864253635"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name=".ui.consumer.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history"
            android:noHistory="true">
        </activity>

    </application>

</manifest>
